@using AppCoreV1.AsteronModels;
@using AppCoreV1.Repositories;
@using AppCoreV1.Helper;
@model List<Incident>;


<table id="tabldata" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Claimid</th>
            <th scope="col">Createtime</th>
            <th scope="col">Description</th>
            <th scope="col">Detailedinjurytype</th>
            <th scope="col">Generalinjurytype</th>
            <th scope="col">Subtype</th>
            <th scope="col">Publicid</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Claimid)</td>
                <td>@Html.DisplayFor(modelItem => item.Createtime)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Detailedinjurytype)</td>
                <td>@Html.DisplayFor(modelItem => item.Generalinjurytype)</td>
                <td>@Html.DisplayFor(modelItem => item.Subtype)</td>
                <td>@Html.DisplayFor(modelItem => item.Publicid)</td>

                <td><a class="btn btn-outline-secondary" onclick="return GetIncident('@item.Id')"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>

            </tr>
        }
    </tbody>
</table>
