@model AppCoreV1.AsteronModels.Contact;


<table id="tabldata" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Download</td>
            <td><a id="mydownload" asp-action="GetContact" asp-controller="AsteronDownload" asp-route-id="@Model.Id" class="btn btn-success">Download</a></td>
        </tr>
        <tr><td>Id</td><td>@Model.Id</td></tr>
        <tr><td>Addressbookuid</td><td>@Model.Addressbookuid</td></tr>
        <tr><td>Afterhours</td><td>@Model.Afterhours</td></tr>
        <tr><td>Attorneylicense</td><td>@Model.Attorneylicense</td></tr>
        <tr><td>AutopaymentallowedExt</td><td>@Model.AutopaymentallowedExt</td></tr>
        <tr><td>Autosync</td><td>@Model.Autosync</td></tr>
        <tr><td>Beanversion</td><td>@Model.Beanversion</td></tr>
        <tr><td>Canmanageprojects</td><td>@Model.Canmanageprojects</td></tr>
        <tr><td>Cellphone</td><td>@Model.Cellphone</td></tr>
        <tr><td>Claimantidtype</td><td>@Model.Claimantidtype</td></tr>
        <tr><td>CommentsExt</td><td>@Model.CommentsExt</td></tr>
        <tr><td>Createtime</td><td>@Model.Createtime</td></tr>
        <tr><td>Createuserid</td><td>@Model.Createuserid</td></tr>
        <tr><td>Dateofbirth</td><td>@Model.Dateofbirth</td></tr>
        <tr><td>DayperiodExt</td><td>@Model.DayperiodExt</td></tr>
        <tr><td>Donotdestroy</td><td>@Model.Donotdestroy</td></tr>
        <tr><td>Emailaddress1</td><td>@Model.Emailaddress1</td></tr>
        <tr><td>Emailaddress2</td><td>@Model.Emailaddress2</td></tr>
        <tr><td>Employeenumber</td><td>@Model.Employeenumber</td></tr>
        <tr><td>Faxphone</td><td>@Model.Faxphone</td></tr>
        <tr><td>Firstname</td><td>@Model.Firstname</td></tr>
        <tr><td>Firstnamedenorm</td><td>@Model.Firstnamedenorm</td></tr>
        <tr><td>Formername</td><td>@Model.Formername</td></tr>
        <tr><td>Gender</td><td>@Model.Gender</td></tr>
        <tr><td>Homephone</td><td>@Model.Homephone</td></tr>
        <tr><td>IssensitiveExt</td><td>@Model.IssensitiveExt</td></tr>
        <tr><td>Lastname</td><td>@Model.Lastname</td></tr>
        <tr><td>Lastnamedenorm</td><td>@Model.Lastnamedenorm</td></tr>
        <tr><td>Loadrelatedcontacts</td><td>@Model.Loadrelatedcontacts</td></tr>
        <tr><td>LocationrepairtypeExt</td><td>@Model.LocationrepairtypeExt</td></tr>
        <tr><td>Makesafe</td><td>@Model.Makesafe</td></tr>
        <tr><td>Middlename</td><td>@Model.Middlename</td></tr>
        <tr><td>Name</td><td>@Model.Name</td></tr>
        <tr><td>Namedenorm</td><td>@Model.Namedenorm</td></tr>
        <tr><td>Obfuscatedinternal</td><td>@Model.Obfuscatedinternal</td></tr>
        <tr><td>Pendinglinkmessage</td><td>@Model.Pendinglinkmessage</td></tr>
        <tr><td>Postaladdress</td><td>@Model.Postaladdress</td></tr>
        <tr><td>Preferred</td><td>@Model.Preferred</td></tr>
        <tr><td>Prefix</td><td>@Model.Prefix</td></tr>
        <tr><td>Primaryaddressid</td><td>@Model.Primaryaddressid</td></tr>
        <tr><td>Primaryphone</td><td>@Model.Primaryphone</td></tr>
        <tr><td>Publicid</td><td>@Model.Publicid</td></tr>
        <tr><td>RepairerrelationshipExt</td><td>@Model.RepairerrelationshipExt</td></tr>
        <tr><td>Retired</td><td>@Model.Retired</td></tr>
        <tr><td>ScAcceptsawpclaims</td><td>@Model.ScAcceptsawpclaims</td></tr>
        <tr><td>ScAcceptsdriveable</td><td>@Model.ScAcceptsdriveable</td></tr>
        <tr><td>ScAcceptsnondriveable</td><td>@Model.ScAcceptsnondriveable</td></tr>
        <tr><td>ScAcceptssms</td><td>@Model.ScAcceptssms</td></tr>
        <tr><td>ScAcceptstpafclaims</td><td>@Model.ScAcceptstpafclaims</td></tr>
        <tr><td>ScAcceptstpvehicles</td><td>@Model.ScAcceptstpvehicles</td></tr>
        <tr><td>ScAcceptsume</td><td>@Model.ScAcceptsume</td></tr>
        <tr><td>ScAccidentsequencekey</td><td>@Model.ScAccidentsequencekey</td></tr>
        <tr><td>ScAccountname</td><td>@Model.ScAccountname</td></tr>
        <tr><td>ScAccountnumber</td><td>@Model.ScAccountnumber</td></tr>
        <tr><td>ScActivecontact</td><td>@Model.ScActivecontact</td></tr>
        <tr><td>ScActivepnetaccount</td><td>@Model.ScActivepnetaccount</td></tr>
        <tr><td>ScAuthparty</td><td>@Model.ScAuthparty</td></tr>
        <tr><td>ScB2bEnabled</td><td>@Model.ScB2bEnabled</td></tr>
        <tr><td>ScBankname</td><td>@Model.ScBankname</td></tr>
        <tr><td>ScBsb</td><td>@Model.ScBsb</td></tr>
        <tr><td>ScBulkpayments</td><td>@Model.ScBulkpayments</td></tr>
        <tr><td>ScBusinesstype</td><td>@Model.ScBusinesstype</td></tr>
        <tr><td>ScCellphone</td><td>@Model.ScCellphone</td></tr>
        <tr><td>ScCentralbillservice</td><td>@Model.ScCentralbillservice</td></tr>
        <tr><td>ScConsolvendor</td><td>@Model.ScConsolvendor</td></tr>
        <tr><td>ScContactpaymentaccountseq</td><td>@Model.ScContactpaymentaccountseq</td></tr>
        <tr><td>ScCorrespondencedelivery</td><td>@Model.ScCorrespondencedelivery</td></tr>
        <tr><td>ScDeceased</td><td>@Model.ScDeceased</td></tr>
        <tr><td>ScFormerfirstname</td><td>@Model.ScFormerfirstname</td></tr>
        <tr><td>ScFormermiddlename</td><td>@Model.ScFormermiddlename</td></tr>
        <tr><td>ScGstregistered</td><td>@Model.ScGstregistered</td></tr>
        <tr><td>ScHospitalname</td><td>@Model.ScHospitalname</td></tr>
        <tr><td>ScInterpreterreqd</td><td>@Model.ScInterpreterreqd</td></tr>
        <tr><td>ScLanguage</td><td>@Model.ScLanguage</td></tr>
        <tr><td>ScLanguagepref</td><td>@Model.ScLanguagepref</td></tr>
        <tr><td>ScLocationtype</td><td>@Model.ScLocationtype</td></tr>
        <tr><td>ScNodependantadults</td><td>@Model.ScNodependantadults</td></tr>
        <tr><td>ScNodependantchildren</td><td>@Model.ScNodependantchildren</td></tr>
        <tr><td>ScOpenfriday</td><td>@Model.ScOpenfriday</td></tr>
        <tr><td>ScOpenmonday</td><td>@Model.ScOpenmonday</td></tr>
        <tr><td>ScOpensaturday</td><td>@Model.ScOpensaturday</td></tr>
        <tr><td>ScOpensunday</td><td>@Model.ScOpensunday</td></tr>
        <tr><td>ScOpenthursday</td><td>@Model.ScOpenthursday</td></tr>
        <tr><td>ScOpentuesday</td><td>@Model.ScOpentuesday</td></tr>
        <tr><td>ScOpenwednesday</td><td>@Model.ScOpenwednesday</td></tr>
        <tr><td>ScOtherphone</td><td>@Model.ScOtherphone</td></tr>
        <tr><td>ScOtherphonedesc</td><td>@Model.ScOtherphonedesc</td></tr>
        <tr><td>ScPayable</td><td>@Model.ScPayable</td></tr>
        <tr><td>ScPaymentmethod</td><td>@Model.ScPaymentmethod</td></tr>
        <tr><td>ScPaymentname</td><td>@Model.ScPaymentname</td></tr>
        <tr><td>ScPaymentserviceackdate</td><td>@Model.ScPaymentserviceackdate</td></tr>
        <tr><td>ScPaymentservicecorrid</td><td>@Model.ScPaymentservicecorrid</td></tr>
        <tr><td>ScPaymentservicevendorid</td><td>@Model.ScPaymentservicevendorid</td></tr>
        <tr><td>ScPaymentterms</td><td>@Model.ScPaymentterms</td></tr>
        <tr><td>ScPaystartdate</td><td>@Model.ScPaystartdate</td></tr>
        <tr><td>ScPolicytype</td><td>@Model.ScPolicytype</td></tr>
        <tr><td>ScPortfoliocode</td><td>@Model.ScPortfoliocode</td></tr>
        <tr><td>ScProcesstypeexists</td><td>@Model.ScProcesstypeexists</td></tr>
        <tr><td>ScRecommended</td><td>@Model.ScRecommended</td></tr>
        <tr><td>ScRemittancedelivery</td><td>@Model.ScRemittancedelivery</td></tr>
        <tr><td>ScRemittancenotificationemail</td><td>@Model.ScRemittancenotificationemail</td></tr>
        <tr><td>ScSamenotificationemail</td><td>@Model.ScSamenotificationemail</td></tr>
        <tr><td>ScSamenotificationsms</td><td>@Model.ScSamenotificationsms</td></tr>
        <tr><td>ScServiceablepostcodenational</td><td>@Model.ScServiceablepostcodenational</td></tr>
        <tr><td>ScStaffnumber</td><td>@Model.ScStaffnumber</td></tr>
        <tr><td>ScSuspended</td><td>@Model.ScSuspended</td></tr>
        <tr><td>ScTradingname</td><td>@Model.ScTradingname</td></tr>
        <tr><td>ScVendorengagementtype</td><td>@Model.ScVendorengagementtype</td></tr>
        <tr><td>ScVendortype</td><td>@Model.ScVendortype</td></tr>
        <tr><td>Subtype</td><td>@Model.Subtype</td></tr>
        <tr><td>Suffix</td><td>@Model.Suffix</td></tr>
        <tr><td>Taxid</td><td>@Model.Taxid</td></tr>
        <tr><td>Taxstatus</td><td>@Model.Taxstatus</td></tr>
        <tr><td>Updatetime</td><td>@Model.Updatetime</td></tr>
        <tr><td>Updateuserid</td><td>@Model.Updateuserid</td></tr>
        <tr><td>Validationlevel</td><td>@Model.Validationlevel</td></tr>
        <tr><td>Vendortype</td><td>@Model.Vendortype</td></tr>
        <tr><td>W9received</td><td>@Model.W9received</td></tr>
        <tr><td>WatchlistproviderExt</td><td>@Model.WatchlistproviderExt</td></tr>
        <tr><td>Workphone</td><td>@Model.Workphone</td></tr>

    </tbody>
</table>


