@using AppCoreV1.AsteronModels;
@using AppCoreV1.Repositories;
@using AppCoreV1.Helper;
@model PaginatedList<Incident>

@{
    ViewData["Title"] = "Asteron Incident";
    int prevpage = 0;
    int nextpage = 0;
    if (Model.HasNextPage) { nextpage = Model.PageIndex + 1; }
    if (Model.HasPreviousPage) { prevpage = Model.PageIndex - 1; }
}
<script src="~/js/asteronreport.js"></script>

<div class="wrapper">
    <!-- Sidebar  -->
    <partial name="_SidebarB" />
    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="row">
                            <div style="padding-left:10px;">
                                <h4>Asteron Incident</h4>
                                <a asp-action="Index" asp-controller="Asteron">Back to Home</a>
                                <a asp-action="GetIncidents" asp-controller="AsteronDownload" asp-route-column="@ViewBag.column" asp-route-search="@ViewBag.search" asp-route-pageIndex="@Model.PageIndex" class="btn btn-success">Download</a>
                            </div>
                            <div style="float:right;padding-top: 5px;padding-left:10px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(ViewBag.action as string, "Asteron", FormMethod.Get, new { @column = ViewBag.column as string, @search = ViewBag.search as string, @page = Model.PageIndex }))
                    {
                        <partial name="_FormSearch" />
                    }
                    <div class="card-body">

                        <table id="tabldata" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Claimid</th>
                                    <th scope="col">Createtime</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Detailedinjurytype</th>
                                    <th scope="col">Generalinjurytype</th>
                                    <th scope="col">Subtype</th>
                                    <th scope="col">Publicid</th>
                                    <th scope="col">View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Claimid)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Createtime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Detailedinjurytype)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Generalinjurytype)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Subtype)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Publicid)</td>

                                        <td>
                                            <div class="d-flex gap-2">
                                                <a class="btn btn-outline-secondary" onclick="return GetIncident('@item.Id')">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                </a>
                                                <a asp-action="IncidentLinks" asp-controller="Asteron" asp-route-id="@item.Id" class="btn btn-outline-secondary">
                                                    <i class="fa fa-network-wired" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                    <div class="card-footer">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                @if (Model.TotalPages > 1)
                                {
                                    <li id="fpLink" class="page-item"><a class="page-link" href="./Incident?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=1&pageSize=25">First</a></li>
                                    @if (prevpage > 0)
                                    {
                                        <li id="ppLink" class="page-item"><a class="page-link" href="./Incident?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@prevpage&pageSize=25">Prev</a></li>
                                    }
                                    <li id="cpLink" class="page-item"><a class="page-link active" href="./Incident?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@Model.PageIndex&pageSize=25">Page @Model.PageIndex of Pages @Model.TotalPages</a></li>
                                    @if (nextpage > 0)
                                    {
                                        <li id="npLink" class="page-item"><a class="page-link" href="./Incident?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@nextpage&pageSize=25">Next</a></li>
                                    }
                                    <li id="lpLink" class="page-item"><a class="page-link" href="./Incident?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@Model.TotalPages&pageSize=25">last</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPage" />