
@model AppCoreV1.ABLEModels.SiteLog;


<table id="tabldata" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Download</td>
            <td><a id="mydownload" asp-action="GetSiteLog" asp-controller="AbleDownload" asp-route-id="@Model.Id" class="btn btn-success">Download</a></td>
        </tr>
        <tr><td>Id</td><td>@Model.Id</td></tr>
        <tr><td>UserId</td><td>@Model.UserId</td></tr>
        <tr><td>Message</td><td>@Model.Message</td></tr>
        <tr><td>LogType</td><td>@Model.LogType</td></tr>
        <tr><td>DateCreated</td><td>@Model.DateCreated</td></tr>

    </tbody>
</table>


