@model AppCoreV1.ABLEModels.RptCompliant;


<table id="tabldata" class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Parameter</th>
<th scope="col">Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>Download</td>
<td><a id="mydownload" asp-action="GetRptCompliant" asp-controller="AbleDownload" asp-route-id="@Model.Id" class="btn btn-success">Download</a></td>
</tr>
<tr><td>Id</td><td>@Model.Id</td></tr>
<tr><td>ClaimNo</td><td>@Model.ClaimNo</td></tr>
<tr><td>LastName</td><td>@Model.LastName</td></tr>
<tr><td>FirstName</td><td>@Model.FirstName</td></tr>
<tr><td>Gender</td><td>@Model.Gender</td></tr>
<tr><td>DateOfBirth</td><td>@Model.DateOfBirth</td></tr>
<tr><td>PolicyNo1</td><td>@Model.PolicyNo1</td></tr>
<tr><td>GroupRetail1</td><td>@Model.GroupRetail1</td></tr>
<tr><td>BenefitType1</td><td>@Model.BenefitType1</td></tr>
<tr><td>BenefitStatus1</td><td>@Model.BenefitStatus1</td></tr>
<tr><td>PolicyNo2</td><td>@Model.PolicyNo2</td></tr>
<tr><td>GroupRetail2</td><td>@Model.GroupRetail2</td></tr>
<tr><td>BenefitType2</td><td>@Model.BenefitType2</td></tr>
<tr><td>BenefitStatus2</td><td>@Model.BenefitStatus2</td></tr>
<tr><td>PolicyNo3</td><td>@Model.PolicyNo3</td></tr>
<tr><td>GroupRetail3</td><td>@Model.GroupRetail3</td></tr>
<tr><td>BenefitType3</td><td>@Model.BenefitType3</td></tr>
<tr><td>BenefitStatus3</td><td>@Model.BenefitStatus3</td></tr>
<tr><td>PolicyNo4</td><td>@Model.PolicyNo4</td></tr>
<tr><td>GroupRetail4</td><td>@Model.GroupRetail4</td></tr>
<tr><td>BenefitType4</td><td>@Model.BenefitType4</td></tr>
<tr><td>BenefitStatus4</td><td>@Model.BenefitStatus4</td></tr>
<tr><td>ClaimStatus</td><td>@Model.ClaimStatus</td></tr>
<tr><td>ComplaintIdNo</td><td>@Model.ComplaintIdNo</td></tr>
<tr><td>ComplaintNotificationDate</td><td>@Model.ComplaintNotificationDate</td></tr>
<tr><td>RaisedBy</td><td>@Model.RaisedBy</td></tr>
<tr><td>ComplaintTheme1</td><td>@Model.ComplaintTheme1</td></tr>
<tr><td>ComplaintTheme2</td><td>@Model.ComplaintTheme2</td></tr>
<tr><td>ComplaintTheme3</td><td>@Model.ComplaintTheme3</td></tr>
<tr><td>ComplaintTheme4</td><td>@Model.ComplaintTheme4</td></tr>
<tr><td>ComplaintTheme5</td><td>@Model.ComplaintTheme5</td></tr>
<tr><td>ComplaintType</td><td>@Model.ComplaintType</td></tr>
<tr><td>Method1</td><td>@Model.Method1</td></tr>
<tr><td>ComplaintSource1</td><td>@Model.ComplaintSource1</td></tr>
<tr><td>Method2</td><td>@Model.Method2</td></tr>
<tr><td>ComplaintSource2</td><td>@Model.ComplaintSource2</td></tr>
<tr><td>Method3</td><td>@Model.Method3</td></tr>
<tr><td>ComplaintSource3</td><td>@Model.ComplaintSource3</td></tr>
<tr><td>ComplaintStatus</td><td>@Model.ComplaintStatus</td></tr>
<tr><td>ComplaintOwner</td><td>@Model.ComplaintOwner</td></tr>
<tr><td>EscalationDate</td><td>@Model.EscalationDate</td></tr>
<tr><td>NoOfDaysComplaintOpen</td><td>@Model.NoOfDaysComplaintOpen</td></tr>
<tr><td>ClosureDate</td><td>@Model.ClosureDate</td></tr>
<tr><td>ClosureReason</td><td>@Model.ClosureReason</td></tr>
<tr><td>AcknowLetterSlaMetYN</td><td>@Model.AcknowLetterSlaMetYN</td></tr>
<tr><td>DaysToSendAcknowLetter</td><td>@Model.DaysToSendAcknowLetter</td></tr>
<tr><td>LetterToTrusteeSlaMetYN</td><td>@Model.LetterToTrusteeSlaMetYN</td></tr>
<tr><td>DaysToSendTrusteeLetter</td><td>@Model.DaysToSendTrusteeLetter</td></tr>
<tr><td>NonSuperLetterSlaMetYN</td><td>@Model.NonSuperLetterSlaMetYN</td></tr>
<tr><td>DaysToSendNonSuperLetter</td><td>@Model.DaysToSendNonSuperLetter</td></tr>
<tr><td>SuperLetterSlaMetYN</td><td>@Model.SuperLetterSlaMetYN</td></tr>
<tr><td>DaysToSendSuperLetter</td><td>@Model.DaysToSendSuperLetter</td></tr>
<tr><td>TmOfComplaintRecordOwner</td><td>@Model.TmOfComplaintRecordOwner</td></tr>
<tr><td>TmOfClaimCaseOwner</td><td>@Model.TmOfClaimCaseOwner</td></tr>
<tr><td>ComplaintRecordTeamName</td><td>@Model.ComplaintRecordTeamName</td></tr>
<tr><td>EscalationApprovedByTm</td><td>@Model.EscalationApprovedByTm</td></tr>
<tr><td>EscalationDeclinedByTm</td><td>@Model.EscalationDeclinedByTm</td></tr>
<tr><td>EscalationToTm</td><td>@Model.EscalationToTm</td></tr>
<tr><td>CatEscalationApproved</td><td>@Model.CatEscalationApproved</td></tr>
<tr><td>CatEscalationDeclined</td><td>@Model.CatEscalationDeclined</td></tr>
<tr><td>EscalationToCat</td><td>@Model.EscalationToCat</td></tr>
<tr><td>ClassOfBusiness</td><td>@Model.ClassOfBusiness</td></tr>

</tbody>
</table>


