
@model AppCoreV1.ABLEModels.RptClaimbenefitreinsurance;


<table id="tabldata" class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Parameter</th>
<th scope="col">Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>Download</td>
<td><a id="mydownload" asp-action="GetRptClaimbenefitreinsurance" asp-controller="AbleDownload" asp-route-id="@Model.Id" class="btn btn-success">Download</a></td>
</tr>
<tr><td>Id</td><td>@Model.Id</td></tr>
<tr><td>ClaimNumber</td><td>@Model.ClaimNumber</td></tr>
<tr><td>ClaimStatus</td><td>@Model.ClaimStatus</td></tr>
<tr><td>GivenName</td><td>@Model.GivenName</td></tr>
<tr><td>Surname</td><td>@Model.Surname</td></tr>
<tr><td>Sex</td><td>@Model.Sex</td></tr>
<tr><td>DateOfBirth</td><td>@Model.DateOfBirth</td></tr>
<tr><td>DateOfDeath</td><td>@Model.DateOfDeath</td></tr>
<tr><td>Occupation</td><td>@Model.Occupation</td></tr>
<tr><td>HoursWorkedPerWeek</td><td>@Model.HoursWorkedPerWeek</td></tr>
<tr><td>PreDisabilityIncome</td><td>@Model.PreDisabilityIncome</td></tr>
<tr><td>State</td><td>@Model.State</td></tr>
<tr><td>PostCode</td><td>@Model.PostCode</td></tr>
<tr><td>CaseType</td><td>@Model.CaseType</td></tr>
<tr><td>CurrentClaimOwner</td><td>@Model.CurrentClaimOwner</td></tr>
<tr><td>ClaimTeam</td><td>@Model.ClaimTeam</td></tr>
<tr><td>RegistrationDate</td><td>@Model.RegistrationDate</td></tr>
<tr><td>FirstContactDate</td><td>@Model.FirstContactDate</td></tr>
<tr><td>IncurredDate</td><td>@Model.IncurredDate</td></tr>
<tr><td>AgeAtIncurredDate</td><td>@Model.AgeAtIncurredDate</td></tr>
<tr><td>ClaimEventType</td><td>@Model.ClaimEventType</td></tr>
<tr><td>PrimaryCauseCode</td><td>@Model.PrimaryCauseCode</td></tr>
<tr><td>PrimaryCauseDescription</td><td>@Model.PrimaryCauseDescription</td></tr>
<tr><td>PrimaryCauseDate</td><td>@Model.PrimaryCauseDate</td></tr>
<tr><td>SecondaryCauseCode</td><td>@Model.SecondaryCauseCode</td></tr>
<tr><td>SecondaryCauseDescription</td><td>@Model.SecondaryCauseDescription</td></tr>
<tr><td>SecondaryCauseDate</td><td>@Model.SecondaryCauseDate</td></tr>
<tr><td>ExpectedReturnToWorkDate</td><td>@Model.ExpectedReturnToWorkDate</td></tr>
<tr><td>CeasedWorkDate</td><td>@Model.CeasedWorkDate</td></tr>
<tr><td>ClaimFinalisedDate</td><td>@Model.ClaimFinalisedDate</td></tr>
<tr><td>ClaimFinalisedReason</td><td>@Model.ClaimFinalisedReason</td></tr>
<tr><td>ClaimReopenDate</td><td>@Model.ClaimReopenDate</td></tr>
<tr><td>ClaimReopenReason</td><td>@Model.ClaimReopenReason</td></tr>
<tr><td>PolicyNumber</td><td>@Model.PolicyNumber</td></tr>
<tr><td>ContractStartDate</td><td>@Model.ContractStartDate</td></tr>
<tr><td>ContractStatus</td><td>@Model.ContractStatus</td></tr>
<tr><td>ProductName</td><td>@Model.ProductName</td></tr>
<tr><td>BenefitNumber</td><td>@Model.BenefitNumber</td></tr>
<tr><td>TargetBenefitCode</td><td>@Model.TargetBenefitCode</td></tr>
<tr><td>TargetBenefitDescription</td><td>@Model.TargetBenefitDescription</td></tr>
<tr><td>BenefitStatus</td><td>@Model.BenefitStatus</td></tr>
<tr><td>RiskCommencedDate</td><td>@Model.RiskCommencedDate</td></tr>
<tr><td>RiskExpiryDate</td><td>@Model.RiskExpiryDate</td></tr>
<tr><td>WaitingPeriodAccident</td><td>@Model.WaitingPeriodAccident</td></tr>
<tr><td>WaitingPeriodSickness</td><td>@Model.WaitingPeriodSickness</td></tr>
<tr><td>BenefitPeriodAccident</td><td>@Model.BenefitPeriodAccident</td></tr>
<tr><td>BenefitPeriodSickness</td><td>@Model.BenefitPeriodSickness</td></tr>
<tr><td>SumInsured</td><td>@Model.SumInsured</td></tr>
<tr><td>CalculationStartType</td><td>@Model.CalculationStartType</td></tr>
<tr><td>CalculationEndType</td><td>@Model.CalculationEndType</td></tr>
<tr><td>Decision</td><td>@Model.Decision</td></tr>
<tr><td>Accepted</td><td>@Model.Accepted</td></tr>
<tr><td>DecisionDate</td><td>@Model.DecisionDate</td></tr>
<tr><td>DecisionReason</td><td>@Model.DecisionReason</td></tr>
<tr><td>FinalisedDate</td><td>@Model.FinalisedDate</td></tr>
<tr><td>FinalisedReason</td><td>@Model.FinalisedReason</td></tr>
<tr><td>BenefitReopenDate</td><td>@Model.BenefitReopenDate</td></tr>
<tr><td>BenefitReopenReason</td><td>@Model.BenefitReopenReason</td></tr>
<tr><td>SuperContributionPercent</td><td>@Model.SuperContributionPercent</td></tr>
<tr><td>IndexationFlag</td><td>@Model.IndexationFlag</td></tr>
<tr><td>AgreedValue</td><td>@Model.AgreedValue</td></tr>
<tr><td>ChronicConditionOption</td><td>@Model.ChronicConditionOption</td></tr>
<tr><td>Day1AccidentOption</td><td>@Model.Day1AccidentOption</td></tr>
<tr><td>ReInsurerName</td><td>@Model.ReInsurerName</td></tr>
<tr><td>ReinsuranceTreatyType</td><td>@Model.ReinsuranceTreatyType</td></tr>
<tr><td>ReinsurancePercent</td><td>@Model.ReinsurancePercent</td></tr>
<tr><td>AdviserSalesId</td><td>@Model.AdviserSalesId</td></tr>
<tr><td>GroupPlanName</td><td>@Model.GroupPlanName</td></tr>
<tr><td>GroupPlanNumber</td><td>@Model.GroupPlanNumber</td></tr>
<tr><td>RiskCategory</td><td>@Model.RiskCategory</td></tr>
<tr><td>OverrideRiskCategory</td><td>@Model.OverrideRiskCategory</td></tr>
<tr><td>OverrideRiskCategoryReason</td><td>@Model.OverrideRiskCategoryReason</td></tr>
<tr><td>PrimaryOccupationStartDate</td><td>@Model.PrimaryOccupationStartDate</td></tr>
<tr><td>PrimaryOccupationEndDate</td><td>@Model.PrimaryOccupationEndDate</td></tr>
<tr><td>DateOfDiagnosis</td><td>@Model.DateOfDiagnosis</td></tr>
<tr><td>ExternalMemberNumber</td><td>@Model.ExternalMemberNumber</td></tr>
<tr><td>BenefitCreationDate</td><td>@Model.BenefitCreationDate</td></tr>
<tr><td>ClassOfBusiness</td><td>@Model.ClassOfBusiness</td></tr>
<tr><td>InitialSumInsuredX12</td><td>@Model.InitialSumInsuredX12</td></tr>
<tr><td>ContractEndDate</td><td>@Model.ContractEndDate</td></tr>
<tr><td>SumReInsured</td><td>@Model.SumReInsured</td></tr>
<tr><td>PartialEarningsIncome</td><td>@Model.PartialEarningsIncome</td></tr>
<tr><td>BenefitStartDate</td><td>@Model.BenefitStartDate</td></tr>
<tr><td>BenefitEndDate</td><td>@Model.BenefitEndDate</td></tr>
<tr><td>MaximumIndexationRate</td><td>@Model.MaximumIndexationRate</td></tr>
<tr><td>Source</td><td>@Model.Source</td></tr>
<tr><td>IncidentOccurredOverseas</td><td>@Model.IncidentOccurredOverseas</td></tr>
<tr><td>CountryOfIncident</td><td>@Model.CountryOfIncident</td></tr>
<tr><td>SourceSystem</td><td>@Model.SourceSystem</td></tr>
<tr><td>ClaimType</td><td>@Model.ClaimType</td></tr>
<tr><td>SourceBenefitCode</td><td>@Model.SourceBenefitCode</td></tr>
<tr><td>SourceBenefitDescription</td><td>@Model.SourceBenefitDescription</td></tr>
<tr><td>InitialSumInsured</td><td>@Model.InitialSumInsured</td></tr>
<tr><td>InitialSumInsuredFreq</td><td>@Model.InitialSumInsuredFreq</td></tr>
<tr><td>PrimaryOccSelfEmployedInd</td><td>@Model.PrimaryOccSelfEmployedInd</td></tr>
<tr><td>TpdDefinition</td><td>@Model.TpdDefinition</td></tr>
<tr><td>TpdSubDefinition</td><td>@Model.TpdSubDefinition</td></tr>
<tr><td>TraumaDefinition</td><td>@Model.TraumaDefinition</td></tr>
<tr><td>SourceBenefitType</td><td>@Model.SourceBenefitType</td></tr>
<tr><td>ProductCode</td><td>@Model.ProductCode</td></tr>
<tr><td>LumpsumIpIndicator</td><td>@Model.LumpsumIpIndicator</td></tr>
<tr><td>PartyId</td><td>@Model.PartyId</td></tr>
<tr><td>Declined</td><td>@Model.Declined</td></tr>
<tr><td>QualifyingPeriod</td><td>@Model.QualifyingPeriod</td></tr>
<tr><td>ExpectedResolutionDate</td><td>@Model.ExpectedResolutionDate</td></tr>
<tr><td>TargetBenefitType</td><td>@Model.TargetBenefitType</td></tr>
<tr><td>SourceBenefitSelected</td><td>@Model.SourceBenefitSelected</td></tr>
<tr><td>ConcurrentClaimIndicator</td><td>@Model.ConcurrentClaimIndicator</td></tr>
<tr><td>ConcurrentClaimNumbers</td><td>@Model.ConcurrentClaimNumbers</td></tr>
<tr><td>DateReturnedToWork</td><td>@Model.DateReturnedToWork</td></tr>
<tr><td>ExpectedRtwFtRange</td><td>@Model.ExpectedRtwFtRange</td></tr>
<tr><td>AdmitAdvancePayAndFinalise</td><td>@Model.AdmitAdvancePayAndFinalise</td></tr>
<tr><td>NonDisclosure</td><td>@Model.NonDisclosure</td></tr>
<tr><td>CmpRequired</td><td>@Model.CmpRequired</td></tr>
<tr><td>UrgentFinancialNeedsFlag</td><td>@Model.UrgentFinancialNeedsFlag</td></tr>
<tr><td>SpecialArrangementFlag</td><td>@Model.SpecialArrangementFlag</td></tr>
<tr><td>SpecialArrangementDuration</td><td>@Model.SpecialArrangementDuration</td></tr>
<tr><td>UnexpectedCircumstances</td><td>@Model.UnexpectedCircumstances</td></tr>
<tr><td>CoverageNumber</td><td>@Model.CoverageNumber</td></tr>
<tr><td>AssessedUnderLimitedCover</td><td>@Model.AssessedUnderLimitedCover</td></tr>
<tr><td>ClaimReceivedDate</td><td>@Model.ClaimReceivedDate</td></tr>
<tr><td>CustomerContactFrequency</td><td>@Model.CustomerContactFrequency</td></tr>
<tr><td>UnexpectedCircumstancesApply</td><td>@Model.UnexpectedCircumstancesApply</td></tr>

</tbody>
</table>


