@using AppCoreV1.ABLEModels;
@using AppCoreV1.Repositories;
@using AppCoreV1.Helper;
@model PaginatedList<TaskA>;

@{
    ViewData["Title"] = ViewBag.appName + " Claim Case History";

    AppCoreV1.ABLEModels.Case _case = new Case
            {
                CaseNumber = @ViewData["CaseNumber"]!.ToString(),
            };

    int prevpage = 0;
    int nextpage = 0;
    if (Model.HasNextPage) { nextpage = Model.PageIndex + 1; }
    if (Model.HasPreviousPage) { prevpage = Model.PageIndex - 1; }

    // PaginatedList<DocumentA> _documents = (PaginatedList<DocumentA>)ViewData["Documents"]!;
    // PaginatedList<Contact> _contacts = (PaginatedList<Contact>)ViewData["Contacts"]!;
    // PaginatedList<OutstandingRequest> _requests = (PaginatedList<OutstandingRequest>)ViewData["Requests"]!;

}

<script src="~/js/ablereport.js"></script>

<div class="wrapper">
    <!-- Sidebar  -->
    <partial name="_SidebarACT" model="@_case" />
    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="row">
                            <div style="padding-left:10px;">
                                <h4>@ViewBag.appName Claim @ViewData["CaseNumber"]!.ToString() Case History</h4>

                                <a asp-action="Index" asp-controller="Able">Back to Home</a>
                            </div>
                            <div style="float:right;padding-top: 5px;padding-left:10px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(ViewBag.action as string, "AbleTabs", FormMethod.Get, new { @search = ViewBag.search as string, @id = ViewBag.id as string, @appId = ViewBag.appId }))
                    {
                    }
                    <div class="card-body">

                        <div class="card-body">
                            <table id="tabldata" class="table overflow-auto">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ClaimNumber</th>
                                        <th scope="col">TaskType</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">CreationDate</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ClaimNumber)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TaskType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td><a class="btn btn-outline-secondary" onclick="return GetTaskA('@item.Id')"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="card-footer">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                @if (Model.TotalPages > 1)
                                {
                                    <li id="fpLink" class="page-item"><a class="page-link" href="/AbleTabs/CaseHistory?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=1&pageSize=25">First</a></li>
                                    @if (prevpage > 0)
                                    {
                                        <li id="ppLink" class="page-item"><a class="page-link" href="/AbleTabs/CaseHistory?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@prevpage&pageSize=25">Prev</a></li>
                                    }
                                    <li id="cpLink" class="page-item"><a class="page-link active" href="/AbleTabs/CaseHistory?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@Model.PageIndex&pageSize=25">Page @Model.PageIndex of @Model.TotalPages Pages</a></li>
                                    @if (nextpage > 0)
                                    {
                                        <li id="npLink" class="page-item"><a class="page-link" href="/AbleTabs/CaseHistory?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@nextpage&pageSize=25">Next</a></li>
                                    }
                                    <li id="lpLink" class="page-item"><a class="page-link" href="/AbleTabs/CaseHistory?id=@ViewBag.id&column=@ViewBag.column&search=@ViewBag.search&pageIndex=@Model.TotalPages&pageSize=25">last</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPage" />