
@model AppCoreV1.ABLEModels.CaseValidation;


<table id="tabldata" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Parameter</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Download</td>
            <td><a id="mydownload" asp-action="GetCaseValidations" asp-controller="AbleDownload" asp-route-id="@Model.Id" class="btn btn-success">Download</a></td>
        </tr>
        <tr><td>Id</td><td>@Model.Id</td></tr>
        <tr><td>C</td><td>@Model.C</td></tr>
        <tr><td>I</td><td>@Model.I</td></tr>
        <tr><td>CaseC</td><td>@Model.CaseC</td></tr>
        <tr><td>CaseI</td><td>@Model.CaseI</td></tr>
        <tr><td>Category</td><td>@Model.Category</td></tr>
        <tr><td>Message</td><td>@Model.Message</td></tr>
        <tr><td>UserC</td><td>@Model.UserC</td></tr>
        <tr><td>UserI</td><td>@Model.UserI</td></tr>
        <tr><td>LastUpdatedDate</td><td>@Model.LastUpdatedDate</td></tr>
        <tr><td>LastUpdatedBy</td><td>@Model.LastUpdatedBy</td></tr>
        <tr><td>ReasonForSuppression</td><td>@Model.ReasonForSuppression</td></tr>
        <tr><td>Description</td><td>@Model.Description</td></tr>

    </tbody>
</table>


