@using AppCoreV1.ABLEModels;
@using AppCoreV1.Repositories;
@using AppCoreV1.Helper;
@model PaginatedList<RptClaimparticipant>

<table id="tabldata" class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ClaimNumber</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Suburb</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ClaimNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Suburb)</td>
                <td><a class="btn btn-outline-secondary" onclick="return GetRptClaimparticipant('@item.Id')"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>

            </tr>
        }
    </tbody>
</table>
