@{
    ViewData["Title"] = "Abel";
}

<div class="container-fluid px-4">
    <h3 class="mt-2">Able Portal</h3>
    <p class="text-muted mb-4">Resolution Life Portal for Abel and Orian Claims</p>

    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="lnkDashboard" asp-action="Dashboard" asp-controller="Able"><i class="fa fa-tachometer-alt-fast" aria-hidden="true"></i><h5>Dashboard</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="lnkClaims" asp-action="Claim" asp-controller="Able"><i class="fa fa-wheelchair" aria-hidden="true"></i><h5>Claims</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="lnkReports" asp-action="Benefit" asp-controller="Able"><i class="fas fa fa-dollar" aria-hidden="true"></i><h5>Benefits</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="Policy" asp-controller="Able"><i class="fa fas fa-award" aria-hidden="true"></i><h5>Policies</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="Party" asp-controller="Able"><i class="fa fa-user-friends" aria-hidden="true"></i><h5>Parties</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="PartyAddress" asp-controller="Able"><i class="fa fa-address-card" aria-hidden="true"></i><h5>Address</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="Note1" asp-controller="Able"><i class="fa fas fa-file-alt" aria-hidden="true"></i><h5>Notes</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="Index" asp-controller="AbleReports"><i class="fas fa-chart-bar" aria-hidden="true"></i><h5>Reports</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="RptDocumentreport" asp-controller="AbleReports"><i class="fa fa-solid fa-file" aria-hidden="true"></i><h5>Documents</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="Taskmv" asp-controller="AbleReports"><i class="fa fas fa-tasks" aria-hidden="true"></i><h5>Tasks</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="RptCaseaction" asp-controller="AbleReports"><i class="fa fa-solid fa-gear" aria-hidden="true"></i><h5>Actions</h5></a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a id="viewEventsLink" asp-action="Paymentsummarymv" asp-controller="Able"><i class="fas fa-credit-card" aria-hidden="true"></i><h5>Payments</h5></a>
            </div>
        </div>

 @*        <div class="col">
            <div class="dashboard-tile p-3">
                <a href="@Url.Action("Taskmv", "Able")" class="tile-link">
                    <i class="bi bi-list-check"></i>
                    <h5>Task MV</h5>
                </a>
            </div>
        </div>

            <div class="col">
            <div class="dashboard-tile p-3">
                <a href="@Url.Action("Tasks", "Able")" class="tile-link">
                    <i class="bi bi-list-check"></i>
                    <h5>Task</h5>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a href="@Url.Action("RptCaseaction", "AbleReports")" class="tile-link">
                    <i class="bi bi-gear"></i>
                    <h5>Actions MV</h5>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a href="@Url.Action("Note1", "Able")" class="tile-link">
                    <i class="bi bi-file-earmark-text"></i>
                    <h5>Notes</h5>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="dashboard-tile p-3">
                <a href="@Url.Action("Index", "AbleREports")" class="tile-link">
                    <i class="bi bi-bar-chart"></i>
                    <h5>Reports</h5>
                </a>
            </div>
        </div> *@
    </div>
</div>
